@page
@model SlimeTAP.Pages.Register.RegisterModel

@{
    ViewData["Title"] = "register";
}
@{
    Layout = null; // Alterado para null
}

<head>
    <!-- Cabeçalho omitido para brevidade -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlimeTAP</title>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="div1">
            <div class="image-container2">
                <img src="~/img/text1.png" alt="Slime Image">
                <a class="register-button2" asp-area="" asp-page="/Login/login">Logar</a>
            </div>
    </div>
    <div class="div2">
        <div class="abc2">
            <form method="post">
                <div class="text-box">
                    <input asp-for="Usuario.UsuarioNome" placeholder="Nome de usuário">
                    <i class="fas fa-user"></i>
                </div>
                <div class="text-box">
                    <input asp-for="Usuario.Email" placeholder="E-mail">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="text-box">
                    <input asp-for="Usuario.Senha" type="password" placeholder="Senha">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="text-box">
                    <input asp-for="ConfirmarSenha" type="password" placeholder="Confirmar Senha">
                    <i class="fas fa-lock"></i>
                </div>
                <button type="submit" class="register-button">Registrar</button>
                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
</body>
