@page
@model SlimeTAP.Pages.Login.login
@{
    ViewData["Title"] = "login";
}
@{
    Layout = ""; // Pode ser vazio ou null
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="image-container1">
        <img src="~/img/registro.png" alt="Slime Image">
        <div class="text"><p>Não possui uma conta? Registre-se agora mesmo.</p></div>
 <a class="play-button1" asp-area="" asp-page="/Register/Register">Registrar</a>
        
    </div>
    <div class="div1">
        <div class="login">
            <div class="image-container2">
                <img src="~/img/text1.png" alt="Slime Image">
            </div>
            <form method="post">
                <div class="text-box">
                    <input type="text" placeholder="Username" asp-for="Usuario.UsuarioNome">
                    <i class="fas fa-user"></i>
                </div>

                <div class="text-box">
                    <input type="password" placeholder="Password" id="password" asp-for="Usuario.Senha">
                    <i class="fas fa-eye-slash" id="togglePassword"></i>
                </div>

                <div class="checkbox-container">
                    <input type="checkbox" id="rememberPassword">
                    <label for="rememberPassword">Lembrar senha</label>
                </div>
                <!-- Botão Entrar -->
                
                <button type="submit" class="play-button">Entrar</button>
                <div asp-validation-summary="All" class="text-danger"></div>
                

            </form>
        </div>

    </div>
 
    <script src="~/js/login.js" asp-append-version="true"></script>
</body>