.div1 {
    width: 45%;
    height: 110%;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8); /* Ajuste a opacidade da máscara conforme necessário */
}

.div2 {
    width: 50%;
    height: 110%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}


body {
    margin: 0;
    padding: 0;
}


html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade da máscara conforme necessário */
    pointer-events: none;
    backdrop-filter: blur(6px); /* Ajuste o valor do desfoque conforme necessário */
    -webkit-backdrop-filter: blur(6px);
}
/* Efeito de destaque ao passar o mouse sobre o texto */




html {
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    height: 100%;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
  
  html {
    position: relative;
    min-height: 100%;
    color: #ffffff;
  }
  
  body {
    margin-bottom: 60px;
    background-image: url("../img/background.jpg");
    position: relative;
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 99%;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    overflow: hidden;
    
  }
  
  html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Ajuste a opacidade da máscara conforme necessário */
    pointer-events: none;
    backdrop-filter: blur(7px); /* Ajuste o valor do desfoque conforme necessário */
    -webkit-backdrop-filter: blur(7px);
  }



  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loading-gif {
    width: 400px; /* Aumenta o tamanho da imagem em 2x */
    height: 400px;
  }
  
  .loading-text {
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 24px; /* Aumenta o tamanho do texto */
  }
  
  