body {
    margin: 0;
    padding: 0;
}

.div1 {
    width: 45%;
    height: 110%;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade da máscara conforme necessário */
}

.div2 {
    width: 55%;
    height: 110%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}



html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0); /* Ajuste a opacidade da máscara conforme necessário */
    pointer-events: none;
    backdrop-filter: blur(6px); /* Ajuste o valor do desfoque conforme necessário */
    -webkit-backdrop-filter: blur(6px);
}
/* Efeito de destaque ao passar o mouse sobre o texto */

.image-container1 {
    margin-top: 1%;
    margin-left: 42%;
    position:absolute;
    width: 700px; /* Defina a largura desejada para o contêiner da imagem */
    height: 650px; /* Defina a altura desejada para o contêiner da imagem */
}
.text {
    margin-top: 90%;
    margin-left: 57%;

  }
.image-container1 img {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 75%; /* A imagem ocupará todo o espaço disponível no contêiner */
    height: 75%;
    object-fit: cover; /* A imagem será dimensionada para cobrir o contêiner */
    
}

.image-container2 {
    margin-top: 50px;
    position:relative;
    width: 500px; /* Defina a largura desejada para o contêiner da imagem */
    height: 450px; /* Defina a altura desejada para o contêiner da imagem */
}
  
.image-container2 img {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 75%; /* A imagem ocupará todo o espaço disponível no contêiner */
    height: 75%;
    object-fit: cover; /* A imagem será dimensionada para cobrir o contêiner */
    
}

html {
    font-size: 14px;
    color: #ffffff;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
  
  html {
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  
  body {
    margin-bottom: 60px;
    background-image: url("../img/background.jpg");
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    overflow: hidden;
    
  }
  
  html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); /* Ajuste a opacidade da máscara conforme necessário */
    pointer-events: none;
    backdrop-filter: blur(7px); /* Ajuste o valor do desfoque conforme necessário */
    -webkit-backdrop-filter: blur(7px);
  }







  /*butao*/ 
  .text-box {
    position: relative;
    display: block;
    width: 300px;
    text-align: center;
    left: 30%;
    color: #ffffff;
    margin-bottom: 30px; /* Adicionando espaçamento vertical na parte superior */
  }
  
  .text-box input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    color: #ffffff; /* Altera a cor do texto para branco */
  }
  
  
  .text-box i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #ffffff;
  }
  
  .text-box input:focus {
    outline: none;
    border-bottom: 2px solid #f1f1f1;
  }
  
  .checkbox-container {
    margin-top: -20px; /* Ajuste a distância desejada */
    margin-left: 30%;
  }

  .text-danger {
    position: absolute;
    margin-top: 0px;
    left: -8%;
    right: 0;
    text-align: center;
    color: rgb(255, 121, 121);
  }

  .play-button {
    display: inline-block;
    padding: 10px 144px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 2rem auto; /* Adiciona margem para centralizar e ajustar a distância */
    margin-top: 35px; /* Ajuste a distância desejada */
    margin-left: 30%;
  }
  
  
  .play-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .play-button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
  }


  .play-button1 {
    margin-top: 5px;
    margin-left: 400px;
    position: absolute;
    padding: 10px 110px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  
  
  .play-button1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .play-button1:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
  }
  