body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Ajuste a opacidade da máscara conforme necessário */
    pointer-events: none;
    backdrop-filter: blur(6px); /* Ajuste o valor do desfoque conforme necessário */
    -webkit-backdrop-filter: blur(6px);
}
/* Efeito de destaque ao passar o mouse sobre o texto */




html {
    font-size: 14px;
    color: #ffffff;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
  
  html {
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    background-image: url("../img/background.jpg");
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    
  }
  
  html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Ajuste a opacidade da máscara conforme necessário */
    pointer-events: none;
    backdrop-filter: blur(7px); /* Ajuste o valor do desfoque conforme necessário */
    -webkit-backdrop-filter: blur(7px);
  }

  .abc{
    width: 100%;
    height: 100%;
  }
  
  .abc2{
    width: 100%;
    margin-top: 25%;
  }

  .div1 {
    width: 45%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .div2 {
    width: 55%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  

  .image-container2 {
    margin-top: 10%;
    margin-left: 0%;
    position:absolute;
    width: 500px; /* Defina a largura desejada para o contêiner da imagem */
    height: 450px; /* Defina a altura desejada para o contêiner da imagem */
}

.image-container2 img {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 75%; /* A imagem ocupará todo o espaço disponível no contêiner */
    height: 75%;
    object-fit: cover; /* A imagem será dimensionada para cobrir o contêiner */
    
}




.text-box {
    position: relative;
    display: block;
    width: 300px;
    text-align: center;
    left: 30%;
    color: #ffffff;
    margin-bottom: 30px; /* Adicionando espaçamento vertical na parte superior */
  }
  
  .text-box input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    color: #ffffff; /* Altera a cor do texto para branco */
  }
  
  
  .text-box i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #ffffff;
  }
  
  .text-box input:focus {
    outline: none;
    border-bottom: 2px solid #f1f1f1;
  }
  
  .checkbox-container {
    margin-top: -20px; /* Ajuste a distância desejada */
    margin-left: 30%;
  }

  .register-button2 {
    display: inline-block;
    padding: 10px 127px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 2rem auto; /* Adiciona margem para centralizar e ajustar a distância */
    margin-top: 90%; /* Ajuste a distância desejada */
    margin-left: 50%;
  }
  
  
  .register-button2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-button2:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
  }


  .register-button {
    margin-top: 2%;
    margin-left: 16.6%;
    position: absolute;
    padding: 10px 118px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0px;
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  
  
  .register-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
  }
  