@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlimeTAP</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="text-center">
    <div class="image-container">
        <img src="~/img/text.png" alt="Slime Image">
    </div>

    <h1 class="display-4">Bem vindo</h1>
       
    <h4><p>Projeto desenvolvido para materia de Tecnologia e desenvolvimento de sistemas.</p></h4>
    <br>
    <p>O jogo mobile SlimeTAP é uma aplicação web que tem o intuito de ser um passatempo divertido a cada toque na tela você ganha moedas de ouro que podem ser usadas para comprar upgrades do seu toque aumentando o valor ganho por toque ou quantidade de toques, completar missões para ganhar xp e as outras duas moedas do jogo também para comprar lootbox e equipamentos. A aplicação deve ser fácil de usar e intuitiva, com uma interface gráfica limpa e amigável.</p>
    <br>

    <p> Aprenda sobre a <a href="https://docs.microsoft.com/aspnet/core">construção de aplicativos da web com o ASP.NET Core</a>.</p>
    <br>
    <a class="play-button" asp-area="" asp-page="/Login/login">Ir para o jogo</a>
    <br><br><br><br><br>
</div>
