@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termo de Privacidade - Jogo SlimeTAP (Open Source)</title>
    <br>
    <style>
        
        h1 {
            text-align: center;
        }
        h4 {
            margin-left: 5%;
        }
    </style>
</head>
<body>
    <h2>Termo de Privacidade - Jogo SlimeTAP (Open Source)</h2>

    <p>Este jogo, SlimeTAP, é um projeto de código aberto desenvolvido para fins educacionais no âmbito da disciplina de Tecnologia e Desenvolvimento de Sistemas. O jogo foi criado para ser um passatempo divertido e não possui fins comerciais. Leia atentamente este termo de privacidade antes de utilizar o jogo.</p>

    <h4>1. Não distribuição:</h4>
    <p>O jogo SlimeTAP é disponibilizado como um projeto de código aberto, o que significa que você pode visualizar, modificar e utilizar o código-fonte para fins não comerciais. No entanto, não é permitida a distribuição do jogo, seja em sua forma original ou modificada, sem a autorização prévia dos criadores e desenvolvedores do projeto.</p>

    <h4>    2. Coleta de informações:</h4>
    <p>O jogo SlimeTAP não coleta informações pessoais dos usuários. Nenhum dado pessoal identificável é solicitado ou armazenado durante o uso do jogo.</p>

    <h4>    3. Uso de cookies:</h4>
    <p>O jogo SlimeTAP não utiliza cookies para coletar informações sobre os usuários.</p>

    <h4>    4. Responsabilidade:</h4>
    <p>Os criadores e desenvolvedores do jogo SlimeTAP não são responsáveis por quaisquer danos, perdas ou inconveniências causados pelo uso do jogo. O jogo é fornecido "no estado em que se encontra", sem garantias de qualquer tipo, expressas ou implícitas.</p>

    <h4>    5. Modificações:</h4>
    <p>Você tem permissão para modificar o código-fonte do jogo SlimeTAP para uso pessoal ou fins não comerciais. No entanto, ao modificar o jogo, você assume total responsabilidade por quaisquer problemas ou consequências decorrentes dessas modificações.</p>

    <h4>    6. Aplicação de termos:</h4>
    <p>Este termo de privacidade se aplica exclusivamente ao jogo SlimeTAP desenvolvido para a disciplina de Tecnologia e Desenvolvimento de Sistemas. Ele não se estende a outros jogos, aplicativos ou serviços.</p>
    <br>  <br>  
    <p><i>Ao utilizar o jogo SlimeTAP, você concorda em cumprir este termo de privacidade e reconhece que o jogo é fornecido sem garantias de qualquer tipo. Se tiver dúvidas ou preocupações, entre em contato com os criadores e desenvolvedores do jogo.</i></p>
    <br>
</body>